.main-content {
    height: calc(100% - 236px);
    overflow: hidden;
    overflow-y: auto;
    margin: 70px 20px 20px 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.2) !important;
}

.footer {
    background-color: rgba(0,0,0,0.2) !important;
    text-align: center;
    padding: 10px;
}