.video-wrapper {
    overflow: hidden;
    padding: 10px;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.video-wrapper .video-title-wrapper {
    margin-bottom: 15px;
}

.video-wrapper .video-title-wrapper .title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: block;
}

.video-wrapper .video-title-wrapper .sub-title {
    color: #C0C0C0;
    width: 100%;
    font-size: 0.7rem;
    display: block;
}

.video-wrapper .video-detail-wrapper {
    display: table;
}

.video-wrapper .video-detail-wrapper .video-url {
    width: 300px;
    display: table-cell;
}

.video-wrapper .video-detail-wrapper .video-description {
    width: calc(100% - 330px);
    padding-left: 20px;
    display: table-cell;
    vertical-align: top;
}